@model EcomDemo.Areas.Profile.Models.PersonalInformationViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    .navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-nav .nav-link {
        color: black;
    }

    .navbar-dark .btn-link {
        color: #fff;
    }
</style>
<div class="container-fluid" style="padding: 72px;">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <!-- User Profile Photo -->
                        <div class="col-md-2 text-center">
                            <img src="https://via.placeholder.com/100" alt="Profile Photo" class="img-fluid rounded-circle">
                        </div>

                        <!-- Welcome User Text -->
                        <div class="col-md-10">
                            <h5>Welcome, Seller!</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9">

            <div class="card">
                <div class="card-header">
                    <h5>Personal Information</h5>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Index", "SellerProfile", FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", id = "firstName", placeholder = "Enter First Name" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastName">Last Name</label>
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", id = "lastName", placeholder = "Enter Last Name" })
                                </div>
                            </div>
                        </div>
                        <!-- Gender -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gender">Gender</label><br>
                                    @Html.RadioButtonFor(m => m.Gender, "male", new { id = "male" })
                                    <label for="male">Male</label>
                                    @Html.RadioButtonFor(m => m.Gender, "female", new { id = "female" })
                                    <label for="female">Female</label>
                                </div>
                            </div>
                        </div>
                        <!-- Save Button -->
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>

                        <!-- Success Message -->
                        if (ViewBag.SuccessMessage != null)
                        {
                            <div class="alert alert-success mt-2">@ViewBag.SuccessMessage</div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>